.wrapper{
   padding-top: 5px;
   max-width: 1300px;
}

.tweets{
   border-color: #E1E8ED;
   border-style: solid;
   border-width: 0 1px 0 1px;
   // border-right: 1px soid #AAB8C2;
   // border-left: 1px soid #AAB8C2;

   &__header{
      padding: 12px 20px;
      font-size: 20px;
      font-weight: 800;
      border-bottom: 1px solid #E1E8ED;
      display: flex;
      align-items: center;
   }

   &__spinLoading{
      text-align: center;
      margin-top: 50px;
   }
}